# convert Series to dictionary And dictionary to Series

In [34]:
import numpy as np 
import pandas as pd 
from pandas import Series , DataFrame

In [35]:
obj = Series([3,6,9,12])

In [36]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [37]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [38]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [44]:
ww2=Series([780000,4300,30000,120000], index=['USA','Germany','China','Egypt'])
ww2

USA        780000
Germany      4300
China       30000
Egypt      120000
dtype: int64

In [45]:
ww2['USA']

780000

In [46]:
ww2[ww2 > 50000]

USA      780000
Egypt    120000
dtype: int64

In [47]:
'china' in ww2

False

In [48]:
#convert to dictionary 
ww2_di= ww2.to_dict()
ww2_di

{'USA': 780000, 'Germany': 4300, 'China': 30000, 'Egypt': 120000}

In [49]:
ww2_ser=Series(ww2_di)
ww2_ser

USA        780000
Germany      4300
China       30000
Egypt      120000
dtype: int64

In [50]:
count = ['USA','Germany','China','Egypt' , 'Japan']

In [51]:
obj=Series(ww2_di , index=count )
obj

USA        780000.0
Germany      4300.0
China       30000.0
Egypt      120000.0
Japan           NaN
dtype: float64

In [54]:
pd.isnull(obj)

USA        False
Germany    False
China      False
Egypt      False
Japan       True
dtype: bool

In [55]:
pd.notnull(obj)

USA         True
Germany     True
China       True
Egypt       True
Japan      False
dtype: bool

In [56]:
ww2_ser

USA        780000
Germany      4300
China       30000
Egypt      120000
dtype: int64

In [57]:
obj

USA        780000.0
Germany      4300.0
China       30000.0
Egypt      120000.0
Japan           NaN
dtype: float64

In [58]:
 ww2_ser+ obj

China        60000.0
Egypt       240000.0
Germany       8600.0
Japan            NaN
USA        1560000.0
dtype: float64

In [60]:
obj.name = 'ww2'
obj

USA        780000.0
Germany      4300.0
China       30000.0
Egypt      120000.0
Japan           NaN
Name: ww2, dtype: float64

In [62]:
obj.index.name = 'Countries'
obj

Countries
USA        780000.0
Germany      4300.0
China       30000.0
Egypt      120000.0
Japan           NaN
Name: ww2, dtype: float64

# read  and extract data from website like wiki

In [91]:
# extract tables from wikipedia 
from pandas.io.html import read_html 
page = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'

wikitables = read_html(page , attrs={"class":"wikitable"} , header=0 )
print("Extracted {num} wikitables".format(num=len(wikitables)))

Extracted 1 wikitables

In [94]:
wikitables[0].head()

,Rank,Country(or dependent territory),Population,% of world,Date,Source(official or UN)
0,1,China[b],1406531360,17.9%,6 Feb 2021,National population clock[3]
1,2,India[c],1373017298,17.5%,6 Feb 2021,National population clock[4]
2,3,United States[d],331120201,4.22%,6 Feb 2021,National population clock[5]
3,4,Indonesia,270203917,3.44%,30 Sep 2020,2020 census result[6]
4,5,Pakistan[e],225200000,2.87%,1 Jul 2021,UN Projection[2]

In [69]:
calls_df = wikitables[0].head()
calls_df

,Rank,Country(or dependent territory),Population,% of world,Date,Source(official or UN)
0,1,China[b],1406531360,17.9%,6 Feb 2021,National population clock[3]
1,2,India[c],1373017298,17.5%,6 Feb 2021,National population clock[4]
2,3,United States[d],331120201,4.22%,6 Feb 2021,National population clock[5]
3,4,Indonesia,270203917,3.44%,30 Sep 2020,2020 census result[6]
4,5,Pakistan[e],225200000,2.87%,1 Jul 2021,UN Projection[2]

In [95]:
calls_df = wikitables[0]
calls_df

,Rank,Country(or dependent territory),Population,% of world,Date,Source(official or UN)
0,1,China[b],1406531360,17.9%,6 Feb 2021,National population clock[3]
1,2,India[c],1373017298,17.5%,6 Feb 2021,National population clock[4]
2,3,United States[d],331120201,4.22%,6 Feb 2021,National population clock[5]
3,4,Indonesia,270203917,3.44%,30 Sep 2020,2020 census result[6]
4,5,Pakistan[e],225200000,2.87%,1 Jul 2021,UN Projection[2]
...,...,...,...,...,...,...
237,–,Tokelau (NZ),1499,0%,18 Oct 2016,2016 census result[212]
238,195,Vatican City[ab],825,0%,1 Feb 2019,Monthly national estimate[213]
239,–,Cocos (Keeling) Islands (Australia),555,0%,30 Jun 2019,National annual estimate[210]
240,–,Pitcairn Islands (UK),50,0%,1 Jan 2020,National annual estimate[214]
241,NaN,World,7845772000,100%,6 Feb 2021,UN Projection[215]

In [70]:
calls_df.columns

Index(['Rank', 'Country(or dependent territory)', 'Population', '% of world',
       'Date', 'Source(official or UN)'],
      dtype='object')

In [96]:
calls_df.Rank

0        1
1        2
2        3
3        4
4        5
      ...
237      –
238    195
239      –
240      –
241    NaN
Name: Rank, Length: 242, dtype: object

In [76]:
calls_df.Population

0    1406531360
1    1373017298
2     331120201
3     270203917
4     225200000
Name: Population, dtype: int64

In [84]:
calls_df['Source(official or UN)']

0    National population clock[3]
1    National population clock[4]
2    National population clock[5]
3           2020 census result[6]
4                UN Projection[2]
Name: Source(official or UN), dtype: object

In [87]:
import numpy as np
import pandas as pd
from pandas import Series , DataFrame

In [97]:
DataFrame(calls_df,columns=['Rank','Date'])

    Rank         Date
0      1   6 Feb 2021
1      2   6 Feb 2021
2      3   6 Feb 2021
3      4  30 Sep 2020
4      5   1 Jul 2021
..   ...          ...
237    –  18 Oct 2016
238  195   1 Feb 2019
239    –  30 Jun 2019
240    –   1 Jan 2020
241  NaN   6 Feb 2021

[242 rows x 2 columns]

In [98]:
calls_df.head(3)

,Rank,Country(or dependent territory),Population,% of world,Date,Source(official or UN)
0,1,China[b],1406531360,17.9%,6 Feb 2021,National population clock[3]
1,2,India[c],1373017298,17.5%,6 Feb 2021,National population clock[4]
2,3,United States[d],331120201,4.22%,6 Feb 2021,National population clock[5]

In [99]:
calls_df.tail(3)

,Rank,Country(or dependent territory),Population,% of world,Date,Source(official or UN)
239,–,Cocos (Keeling) Islands (Australia),555,0%,30 Jun 2019,National annual estimate[210]
240,–,Pitcairn Islands (UK),50,0%,1 Jan 2020,National annual estimate[214]
241,NaN,World,7845772000,100%,6 Feb 2021,UN Projection[215]

In [102]:
calls_df.index[3]

3

In [113]:
calls_df['stadium'] = 'Levi Std'

In [114]:
calls_df

,Rank,Country(or dependent territory),Population,% of world,Date,Source(official or UN),stadium
0,1,China[b],1406531360,17.9%,6 Feb 2021,National population clock[3],Levi Std
1,2,India[c],1373017298,17.5%,6 Feb 2021,National population clock[4],Levi Std
2,3,United States[d],331120201,4.22%,6 Feb 2021,National population clock[5],Levi Std
3,4,Indonesia,270203917,3.44%,30 Sep 2020,2020 census result[6],Levi Std
4,5,Pakistan[e],225200000,2.87%,1 Jul 2021,UN Projection[2],Levi Std
...,...,...,...,...,...,...,...
237,–,Tokelau (NZ),1499,0%,18 Oct 2016,2016 census result[212],Levi Std
238,195,Vatican City[ab],825,0%,1 Feb 2019,Monthly national estimate[213],Levi Std
239,–,Cocos (Keeling) Islands (Australia),555,0%,30 Jun 2019,National annual estimate[210],Levi Std
240,–,Pitcairn Islands (UK),50,0%,1 Jan 2020,National annual estimate[214],Levi Std
241,NaN,World,7845772000,100%,6 Feb 2021,UN Projection[215],Levi Std

In [115]:
del calls_df['stadium']
calls_df

,Rank,Country(or dependent territory),Population,% of world,Date,Source(official or UN)
0,1,China[b],1406531360,17.9%,6 Feb 2021,National population clock[3]
1,2,India[c],1373017298,17.5%,6 Feb 2021,National population clock[4]
2,3,United States[d],331120201,4.22%,6 Feb 2021,National population clock[5]
3,4,Indonesia,270203917,3.44%,30 Sep 2020,2020 census result[6]
4,5,Pakistan[e],225200000,2.87%,1 Jul 2021,UN Projection[2]
...,...,...,...,...,...,...
237,–,Tokelau (NZ),1499,0%,18 Oct 2016,2016 census result[212]
238,195,Vatican City[ab],825,0%,1 Feb 2019,Monthly national estimate[213]
239,–,Cocos (Keeling) Islands (Australia),555,0%,30 Jun 2019,National annual estimate[210]
240,–,Pitcairn Islands (UK),50,0%,1 Jan 2020,National annual estimate[214]
241,NaN,World,7845772000,100%,6 Feb 2021,UN Projection[215]

In [116]:
calls_df

,Rank,Country(or dependent territory),Population,% of world,Date,Source(official or UN)
0,1,China[b],1406531360,17.9%,6 Feb 2021,National population clock[3]
1,2,India[c],1373017298,17.5%,6 Feb 2021,National population clock[4]
2,3,United States[d],331120201,4.22%,6 Feb 2021,National population clock[5]
3,4,Indonesia,270203917,3.44%,30 Sep 2020,2020 census result[6]
4,5,Pakistan[e],225200000,2.87%,1 Jul 2021,UN Projection[2]
...,...,...,...,...,...,...
237,–,Tokelau (NZ),1499,0%,18 Oct 2016,2016 census result[212]
238,195,Vatican City[ab],825,0%,1 Feb 2019,Monthly national estimate[213]
239,–,Cocos (Keeling) Islands (Australia),555,0%,30 Jun 2019,National annual estimate[210]
240,–,Pitcairn Islands (UK),50,0%,1 Jan 2020,National annual estimate[214]
241,NaN,World,7845772000,100%,6 Feb 2021,UN Projection[215]